.margin-top-right-bottom-left {
	margin: 1% 12% 1% 12%;

}
.nav-border {
	border: 2px solid #78C0E0;
	border-radius: 15px;
	width: 45%
}

.nav-font-line-height {
	line-height: 0.9;
}

.nav-li-letter-size {
	font-size: 0.7em;
}

.text-decoration-none {
	text-decoration: none;
}

.header-magrin {
	margin-left: 3%;
}

.main-section-magrin {
	margin-left: 3%;
}

.header-p-mergin {
margin-top: 5%;
}

h1 {
	color: #150578;
	text-shadow: 2px 2px #ccc;
}

.header-margin-h {
	margin-bottom: 0px;
}

.header-width-img {
	width: 455px;
}

.header-width-h {
	width: 685px;
	font-size: 1.8em;
}

.font-size-family-heaght {
	font-family: "Verdana";
	font-size: 1rem;
	line-height: 1.3;
}

.section-p-li-font-size {
	font-size: 0.8em;
}

.section-li-font-size {
	font-size: 0.7em;
}

.article-font-weight-h {
	font-weight: normal;
	font-size: 1.2em;
}

.article-border-main {
	font-family: "Segoe UI";
	border: 1px solid black;
	margin-left: 10%;
	padding-right: 1%;
	padding-left: 1%;
	width: 575px;
}

.main-text-indent {
	text-indent: 5%;
}

.main-text-space {
	letter-spacing: 0.1em;
}

h2 {
	text-align: center;
	color: #3943B7;
}

.article-border-footer {
	border: 1px dashed #78C0E0;
	border-radius: 15px;
	text-align: right;
	margin-top: 5%;
	padding-right: 1%;

}

.footer-article-font-size {
	font-size: 0.7em;
}

.address-font-size {
	font-size: 0.6em;
}

.footer-margin-bottom-size {
	margin-bottom: 4%;
}


